<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col"></th>
        <th scope="col">Date</th>
        <th scope="col"></th>
        <th scope="col">Pertandingan</th>
        <th scope="col"></th>
        <th scope="col">Time</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>1</th>
        <td>20 July</td>
        <td></td>
        <th>EVOS vs RRQ</th>
        <td></td>
        <td>16.45pm</td>
      </tr>
      <tr>
        <th>2</th>
        <td>22 July</td>
        <td></td>
        <th>ALTER EGO vs BIGETRON</th>
        <td></td>
        <td>17.45pm</td>
      </tr>
      <tr>
        <th>3</th>
        <td>23 July</td>
        <td></td>
        <th>EVOS vs ALTER EGO</th>
        <td></td>
        <td>16.45pm</td>
      </tr>
      <tr>
        <th>4</th>
        <td>24 July</td>
        <td></td>
        <th>EVOS vs ONIC</th>
        <td></td>
        <td>16.45pm</td>
      </tr>
      <tr>
        <th>5</th>
        <td>25 July</td>
        <td></td>
        <th>RRQ vs ONIC</th>
        <td></td>
        <td>16.45pm</td>
      </tr>
    </tbody>
  </table>